@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,body{
margin:0;
padding:0;
}
.salida{
    text-transform:uppercase;
    text-align:center;
    font-weight: bold;
    font-size: 4vh;
    border: 1px solid #000;
    width: 30%;
    height:5rem;
    margin:0 25%;
}
.color-div{
    text-align:center;
}